<style>
  .fc button { height: auto; line-height: 1.42857; padding: 10px 12px } 
</style>

<div id="calendar">
  <iframe src="https://calendar.google.com/calendar/b/1/embed?wkst=1&amp;bgcolor=%23FFFFFF&amp;src=the-open.net_nhone488olqheqmrjboakuegsg%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=UTC" style="border-width:0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
</div>

<%= partial :'events/ical_instructions' %>


