<h1>Account Requests</h1>


<div class="account-requests">
  <div class="row header">
    <div class="col-md-4">
      <h3>Name</h3>
    </div>
    <div class="col-md-3">
      <h3>Email</h3>
    </div>
    <div class="col-md-3">
      <h3>Affiliation</h3>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <% @account_requests.each do |account_request| %>
    <div class="row">
      <div class="col-md-4">
        <p><%= account_request.name %></p>
      </div>
      <div class="col-md-3">
        <p><%= account_request.email %></p>
      </div>
      <div class="col-md-3">
        <p><%= account_request.affiliation_summary %></p>
      </div>
      <div class="col-md-2">
        <a class="btn btn-default btn-primary" href="/accounts/request/approve/<%= account_request.id %>">Approve</a>
      </div>
    </div>
  <% end %>
</div>
